@using DOMINIO;
@{
    ViewData["Title"] = "AnimalesPorPesoYTipo";
}

<h1>Animales por peso y tipo</h1>

<hr />
<div class="container">
    <form method="post" action="~/animales/procesaranimalesporpesoytipo">
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo:</label>
            <select class="form-select" name="tipo">
                <option value="Ovino">Ovino</option>
                <option value="Bovino">Bovino</option>
            </select>
        </div>
        <div class="mb-3">
            <input type="number" min="1" name="peso" placeholder="Peso"/>
        </div>
        <div class="d-grid">
            <input type="submit" value="Mostrar" class="btn btn-primary" />
        </div>
    </form>

    <table class="table table-striped table-bordered table-hover table-sm text-nowrap">
        <thead class="thead-light">
            <tr>
                <th scope="col">Caravana</th>
                <th scope="col">Tipo</th>
                <th scope="col">Peso</th>
                <th scope="col">Sexo</th>
                <th scope="col">Potencial ganancia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Animal a in ViewBag.Animales)
            {

                    <tr>
                        <td>@a.Codigo</td>
                        <td>@a.GetTipo()</td>
                        <td>@a.PesoActual</td>
                        <td>@a.Sexo</td>
                        <td>@a.PotencialPrecioFinal()</td>
                    </tr>

            }
        </tbody>

    @if (ViewBag.Exito != null)
    {
        <div class="alert alert-success text-center mt-3">@ViewBag.Exito</div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center mt-3">@ViewBag.Error</div>
    }
</div>