

@using DOMINIO;
@{
    ViewData["Title"] = "Vacunar";
}

<h1 class="text-center my-4">Agregar vacunación</h1>
<hr />
<div class="container">
    <form method="post" action="~/vacunaciones/procesaraltavacunacion">
        <div class="mb-3">
            <label for="animal" class="form-label">Animal:</label>
            <select class="form-select" name="codigo" id="animal">
                @foreach (Animal a in Sistema.Instancia.Animales)
                {
                    <option value="@a.Codigo">@a</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="vacuna" class="form-label">Vacuna:</label>
            <select class="form-select" name="nombre" id="vacuna">
                @foreach (Vacuna v in Sistema.Instancia.Vacunas)
                {
                    <option value="@v.Nombre">@v</option>
                }
            </select>
        </div>
        <div class="d-grid">
            <input type="submit" value="Agregar" class="btn btn-primary" />
        </div>
    </form>
    @if (ViewBag.Exito != null)
    {
        <div class="alert alert-success text-center mt-3">@ViewBag.Exito</div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center mt-3">@ViewBag.Error</div>
    }
</div>

